<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <property name="LOG_HOME" value="/app/logs/"/>
    <contextName>${app_name}</contextName>

    <appender name="userC" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>userLogs/userController.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="aopLogFile" class="ch.qos.logback.core.FileAppender">
        <file>aop/log.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="logAop" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger addivility="false" level="INFO" name="loggerAop">
        <appender-ref ref="logAop"/>
        <appender-ref ref="aopLogFile"/>
    </logger>

    <!--是否向上级传递-->
    <logger addivility="false" level="INFO" name="myLogger">
        <appender-ref ref="userC"/>
        <appender-ref ref="file"/>
    </logger>

    <!--filter the spring etc debug's info-->
    <logger name="org" level="ERROR"></logger>
</configuration>
