<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haha.mvcDemo.domain.Commodity">
  <resultMap id="BaseResultMap" type="com.haha.mvcDemo.domain.Commodity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="total_stock" jdbcType="INTEGER" property="totalStock" />
    <result column="remaind_stock" jdbcType="INTEGER" property="remaindStock" />
    <result column="original_price" jdbcType="DECIMAL" property="originalPrice" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="member_price" jdbcType="DECIMAL" property="memberPrice" />
    <result column="img" jdbcType="VARCHAR" property="img" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, type, total_stock, remaind_stock, original_price, price, member_price, 
    img
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from h_commodity
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByName" parameterType="java.lang.String" resultType="com.haha.mvcDemo.domain.Commodity">
    SELECT
    <include refid="Base_Column_List"/>
    FROM h_commodity
    WHERE NAME LIKE concat('%',#{name,jdbcType=VARCHAR},'%');
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from h_commodity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.haha.mvcDemo.domain.Commodity">
    insert into h_commodity (id, name, type, 
      total_stock, remaind_stock, original_price, 
      price, member_price, img
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{totalStock,jdbcType=INTEGER}, #{remaindStock,jdbcType=INTEGER}, #{originalPrice,jdbcType=DECIMAL}, 
      #{price,jdbcType=DECIMAL}, #{memberPrice,jdbcType=DECIMAL}, #{img,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.haha.mvcDemo.domain.Commodity">
    insert into h_commodity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="totalStock != null">
        total_stock,
      </if>
      <if test="remaindStock != null">
        remaind_stock,
      </if>
      <if test="originalPrice != null">
        original_price,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="memberPrice != null">
        member_price,
      </if>
      <if test="img != null">
        img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="totalStock != null">
        #{totalStock,jdbcType=INTEGER},
      </if>
      <if test="remaindStock != null">
        #{remaindStock,jdbcType=INTEGER},
      </if>
      <if test="originalPrice != null">
        #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="memberPrice != null">
        #{memberPrice,jdbcType=DECIMAL},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.haha.mvcDemo.domain.Commodity">
    update h_commodity
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="totalStock != null">
        total_stock = #{totalStock,jdbcType=INTEGER},
      </if>
      <if test="remaindStock != null">
        remaind_stock = #{remaindStock,jdbcType=INTEGER},
      </if>
      <if test="originalPrice != null">
        original_price = #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="memberPrice != null">
        member_price = #{memberPrice,jdbcType=DECIMAL},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haha.mvcDemo.domain.Commodity">
    update h_commodity
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      total_stock = #{totalStock,jdbcType=INTEGER},
      remaind_stock = #{remaindStock,jdbcType=INTEGER},
      original_price = #{originalPrice,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      member_price = #{memberPrice,jdbcType=DECIMAL},
      img = #{img,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>